{
  "__inherits": "staxel/tile/Hammerable.config",
  "damageSoundGroup": "staxel.sounds.damage.Stone",
  "placeSoundGroup": "staxel.sounds.place.Stone",
  "stepSoundGroup": "staxel.sounds.StoneFootSteps",
  "searchable": true,
  "pricing": {
    "catalogueUnlockedFromStart": true,
    "buyable": true,
    "sellPrice": 6,
    "value": 12
  },
  "categories": [
    "block",
    "digtal",
    "brick"
  ],
}
